### Strings
Strings can be represented with either **"text"** or **"""text"""**
<br>
**'character'** represents characters only

In [1]:
"This is a string"

"This is a string"

In [3]:
"""This is a "string" as well"""

"This is a \"string\" as well"

In [4]:
'This is not a string use single quotes only for characters'

LoadError: syntax: character literal contains multiple characters

### Variables, expressions and interpolation

In [6]:
name = "The Doctor"
planet = "Gallifrey"
num_hearts = 2
println("Hello! I am $name.")
println("I am from $planet and I have $num_hearts hearts")

Hello! I am The Doctor.
I am from Gallifrey and I have 2 hearts

### Concatenation

In [9]:
# 1. Use string() function (It converts non string inputs to strings)
string("How many cats ", "are too many cats")

"How many cats are too many cats"

In [10]:
s1 = "How many cats "
s2 = "are too many cats"

# 2. Use *
s1*s2

"How many cats are too many cats"

In [11]:
# 3. Use interpolation
"$s1$s2"

"How many cats are too many cats"